cvzone==1.6.1 ; python_version >= "3.9" and python_version < "3.13"
numpy==2.0.2 ; python_version >= "3.9" and python_version < "3.13"
opencv-python==4.10.0.84 ; python_version >= "3.9" and python_version < "3.13"
pyside6-addons==6.7.0 ; python_version >= "3.9" and python_version < "3.13"
pyside6-essentials==6.7.0 ; python_version >= "3.9" and python_version < "3.13"
pyside6==6.7.0 ; python_version >= "3.9" and python_version < "3.13"
shiboken6==6.7.0 ; python_version >= "3.9" and python_version < "3.13"
